h1{
    text-align: center;
}
.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
#display{
    
    border: 10px solid black;
    
    height: 10vh;
    text-align: center;
    
    padding: 0 13vw;
    
    
}

#buttons{
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    
}
._btn_line{
    display: flex;
}
button{
    width: 100px;
    height: 50px;

}
